[Unit]
Description=Network IPMI daemon
After=phosphor-ipmi-host.service
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Requires=xyz.openbmc_project.Network.service
After=xyz.openbmc_project.Network.service
PartOf=phosphor-ipmi-warm-reset.target
ConditionPathExists=/sys/class/net/%i

[Service]
ExecStart=/usr/bin/netipmid -c %i
SyslogIdentifier=netipmid-%i
Restart=always
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
StartLimitIntervalSec=0

[Install]
DefaultInstance=eth0
WantedBy=multi-user.target
RequiredBy=
